<a href="https://colab.research.google.com/github/victormenuzzo/amazon_satellite_imgs/blob/master/tag_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [86]:
from google.colab import drive
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import numpy as np

In [6]:
drive.mount('/content/drive')
image_tags = pd.read_csv('/content/drive/Shared drives/TCC/train.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [11]:
image_tags = image_tags.set_index('image_name')
image_tags.head()

                                                 tags
image_name
train_0                                  haze primary
train_1               agriculture clear primary water
train_2                                 clear primary
train_3                                 clear primary
train_4     agriculture clear habitation primary road

In [66]:
G = nx.MultiGraph()

for image_tag in image_tags['tags'].values:
  image_tag_list = image_tag.split(' ')
  
  k = 0 
  
  while k < len(image_tag_list)-1:
    actual_node = image_tag_list[k]

    for i in range (1, len(image_tag_list)-k):
      G.add_edge(actual_node, image_tag_list[k+i])

    k = k+1

In [95]:
df = pd.DataFrame(nx.to_numpy_matrix(G), index=G.nodes, columns = G.nodes())
df

                     haze  primary  ...  selective_logging  blow_down
haze                  0.0   2670.0  ...                5.0        0.0
primary            2670.0      0.0  ...              340.0      101.0
agriculture         672.0  11972.0  ...               65.0       23.0
clear                 0.0  27668.0  ...              308.0       87.0
water               613.0   7001.0  ...               49.0        3.0
habitation          129.0   3469.0  ...               13.0        3.0
road                394.0   7728.0  ...              151.0        2.0
cultivation         205.0   4523.0  ...               58.0        8.0
slash_burn            3.0    209.0  ...                2.0        2.0
partly_cloudy         0.0   7175.0  ...               27.0       14.0
conventional_mine     2.0     94.0  ...                0.0        0.0
bare_ground          41.0    683.0  ...               13.0        4.0
artisinal_mine        5.0    324.0  ...                6.0        0.0
blooming              4.0    332.0  ...                7.0        1.0
selective_logging     5.0    340.0  ...                0.0        1.0
blow_down             0.0    101.0  ...                1.0        3.0

[16 rows x 16 columns]

In [134]:
df_total = pd.DataFrame(df.sum(axis=0), columns=['total'])
df_total = df_total.sort_values(by='total').reset_index()
df_total = df_total.loc[:5, 'index']
six_min_tags = df_total.values.tolist()

                     total
haze                4743.0
primary            74289.0
agriculture        39743.0
clear              57291.0
water              21673.0
habitation         14781.0
road               28772.0
cultivation        16078.0
slash_burn           784.0
partly_cloudy      13765.0
conventional_mine    357.0
bare_ground         2631.0
artisinal_mine      1207.0
blooming             774.0
selective_logging   1045.0
blow_down            252.0

In [128]:
df_min_tags = pd.DataFrame(columns = ['tag', 'image_tags'])

for tag in six_min_tags: 
  for image_tag in image_tags['tags'].values:
     if tag in image_tag:
        line = {'tag':[tag], 'image_tags':[image_tag]}
        df_min_tags = df_min_tags.append(pd.DataFrame.from_dict(line), ignore_index = True)

In [135]:
df_min_tags.set_index('tag')

                                                       image_tags
tag
blow_down                                 blow_down clear primary
blow_down          bare_ground blow_down clear primary slash_burn
blow_down                                 blow_down clear primary
blow_down                                 blow_down clear primary
blow_down                                 blow_down clear primary
...                                                           ...
artisinal_mine     artisinal_mine bare_ground clear primary water
artisinal_mine            artisinal_mine clear primary road water
artisinal_mine  artisinal_mine clear habitation primary road w...
artisinal_mine                 artisinal_mine clear primary water
artisinal_mine                       artisinal_mine clear primary

[1418 rows x 1 columns]